<% layout('./layouts/boilerplate.ejs') -%>
<body>
     
  <h3 class="welcome-message">Explore the World, One Journey at a Time</h3>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
      <% for (let listing of Alllisting){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link"> 
        <div class="card col" style="width: 17rem;">
          <img src="<%= listing.image %>" class="card-img-top" alt="image" style="height:20rem;">
          <div class="card-img-overlay">Welcome</div>
          <div class="card-body">
            <p class="card-text">
             <b> <%= listing.title %> </b><br/>
              &#8377; <%= listing.price.toLocaleString("en-IN") %>/Night
            </p>
          </div>
        </div>
      </a>
        <% } %>
    </div>
   
   </body>
 